@model IEnumerable<TripKeeper.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsTeamRoute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartMiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndingMiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspections)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BHPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XDock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyYard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chains)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sleeper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pallets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoadStops)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperStops)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shuttle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiscExpense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsTeamRoute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tractor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trailer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartMiles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndingMiles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspections)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BHPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XDock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyYard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chains)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sleeper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pallets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoadStops)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperStops)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shuttle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiscExpense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signature)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
